/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700"); */

body {
	background: #111;
	font-family: "Montserrat";
	text-align: center;
}

 .logo > img {
    
	width: 300px;
	height: auto;
	position:relative;
	top: 50%;
	right: 5;
	left: 0;
	margin: -80px auto;
 
}



.card {
	perspective: 1000;
	width: 350px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
}



.box-input {
	position: relative;
	top: 90px;
    line-height: 2.4;
    color: white;
}

input {
	outline: 0 !important;
  border-width: 0 0 1px 0 !important;
  border-color: #eee !important;
  margin: 0 auto;
}

input,
button {

	padding: 10px 3%;
	background: transparent;
	font-size: 15px;
	width: 300px;
	height: 25px;
	font-family: "Montserrat";
	border: 1px solid #eee;
	position: relative;
	color: #eee;
	margin-bottom: 15px;
}

::-webkit-input-placeholder {
  color: #ddd !important;
  font-family: FontAwesome;
  font-size: 16px;
}


button {
	width: 325px;
	height: 40px;
	margin-top: 10px;
	background: transparent;
	text-align: center;
	cursor: pointer;
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 1s ease;
}

button:hover {
	background: #D50000;
	border: none;
	transition: all 1.5s ease;
}
